html,
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}

.parent {
  height: 24px;
  width: 100%;
  background: linear-gradient(tomato, rgb(236, 236, 20));
  position: fixed;
}

span {
  position: absolute;
  top: 5vh;
  left: 12%;
}
.parent-bar {
  display: flex;
  position: fixed;
  top: 25px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: rgba(15, 20, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.child1 {
  flex: 1;
}

.child2 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.space {
  margin-left: 6px;
  margin-right: 6px;
}

.beautify-title {
  color: rgba(255, 255, 255, 0.85);
  font-size: 21px;
  font-weight: bold;
  font-family: cursive;
}

.beautify-links {
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;

  background: rgba(0, 0, 0, 0.205);
  /* color: rgba(255, 255, 255, 1); */
  cursor: pointer;
  transition: all 1s;
}

.beautify-links:hover {
  background: linear-gradient(rgb(168, 75, 59), rgb(173, 173, 21));
}

.parent2 {
  height: 130vh;
  display: flex;
  background: rgba(0, 0, 0, 0.075);
  background-image: url("Cdac 2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.child21 {
  flex: 1;
}
.child22 {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.child23 {
  flex: 1;
}

.beautify-album {
  margin-top: 100vh;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.85);
}

.beautify-album-title {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
}

.btn-primary {
  margin-top: 20px;
  background: royalblue;
  color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  border: none;
}

.btn-secondary {
  height: 36px;
  width: 125px;
  background: darkgrey;
  color: rgba(0, 0, 0, 0.85);
  border-radius: 8px;
  border: none;
}

.parent3 {
  align-items: center;
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.child3 {
  width: 250px;
  margin: 1px;
  background: rgba(0, 0, 0, 0.05);
  margin-bottom: 8px;
  margin-top: 8px;
}

.child3-img {
  width: 100%;
  object-fit: cover;
}

/* .child3-subtitle {
  padding: 8px;
  font-size: 16px;
  text-align: justify;
  color: rgba(0, 0, 0, 0.55);
} */

@media only screen and (max-width: 600px) {
  .child2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 200px;
    margin-top: 2.8rem;
  }

  .child22 {
    margin-top: 5.2rem;

    height: 70vh;
  }
}
